*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web',sans-serif;
}

.topbar{
    padding: 10px;
    background: #2C3E50;
    color: #fff;
    margin-bottom: 50px;
}

.logo{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}

.logo h1{
    font-size: 50px;
}

.logo p {
    margin-bottom: 35px;
    font-size: 20px;
}

.contact{
    text-decoration: none;
    color: white;
    padding: 10px;
    border: solid 2px #f04d0c;
    transition: background-color 0.3s;
    font-size: 20px;
}

.contact:hover{
    background-color: #f04d0c;
    color: white;
}

.contact2{
    text-decoration: none;
    color: #f04d0c;
    padding: 10px;
    border: solid 2px #f04d0c;
    transition: background-color 0.3s;
    font-size: 18px;
}

.contactus h1{
    font-size: 40px;
}

.contactus p{
    font-size: 20px;
}

.contactus p .contact2:hover{
    background-color: #f04d0c;
    color: white;
}

.sommaire{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.sommaire ul{
    list-style: none;
    padding: 0 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sommaire ul li{
    margin: 0 10px 25px 10px;
}

.sommaire ul li a{
    text-decoration: none;
    color: #2c3e50af;
    transition: color 0.4s;
    font-size: 25px;
}

.sommaire ul li a:hover{
    cursor: pointer;
    color: #f04d0c;
}

.main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 25px;
    padding: 50px 100px 0 100px;
}

.question{
    margin-bottom: 100px;
    text-align: center;
}

.question h1{
    color: #2C3E50;
    font-size: 40px;
}

.question p{
    font-size: 20px;
    color: rgb(102, 84, 84);
}

.question .logoedhec{
    text-align: center;
}

.logoedhec{
    text-align: center;
}

.contactus{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contactus h1{
    color: #2C3E50;
    padding: 15px 0 15px 20px;
}

.contactus p img{
    transform: translateY(10px);
}

.contactus p a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.contactus p a:hover{
    color: #f04d0c;
}

.espace1{
    color: #f04d0c;
    width: 80%;
    border: solid 1px #f04d0c;
    text-align: center;
    transform: translateX(-375px) translateY(-55px);
}

.espace2{
    color: #f04d0c;
    width: 80%;
    border: solid 1px #f04d0c;
    text-align: center;
    transform: translateX(-375px) translateY(-90px);
}

.espace3{
    color: #f04d0c;
    width: 80%;
    border: solid 1px #f04d0c;
    text-align: center;
    transform: translateX(-375px) translateY(-80px);
}

.espace4{
    color: #f04d0c;
    width: 80%;
    border: solid 1px #f04d0c;
    text-align: center;
    transform: translateX(-375px) translateY(-55px);
}

.footer{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    background-color: #2C3E50;
    padding: 45px 15px 35px 15px;
}

.recap{
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.recap ul{
    list-style: none;
    padding: 0;
}

.recap ul li:first-child{
    color: white;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 10px;
}

.recap ul li a{
    text-decoration: none;
    color: white;
    opacity: 0.5;
    margin-bottom: 15px;
    transition: color 0.3s;
    margin-bottom: 5px;
}

.recap ul li a:hover{
    color: #f04d0c;
}

.title h1{
    text-align: center;
    color: white;
    opacity: 0.7;
    font-size: 40px;
}

.title p{
    text-align: center;
    color: white;
    opacity: 0.5;
    font-size: 20px;
}

.footer-contact{
    text-align: center;
}

.footer-contact ul{
    list-style: none;
    padding: 0;
}

.footer-contact ul li:first-child{
    color: white;
    opacity: 0.7;
    margin-bottom: 5px;
}

.footer-contact ul li{
    color: white;
    opacity: 0.5;
}

.footer-contact ul li a{
    color: white;
    opacity: 1;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-contact ul li a:hover{
    color: #f04d0c;
}

.footer-contact ul li a img{
    transform: translateY(10px);
}

.transform1{
    transform: translateY(47px);
}

.transform2{
    transform: translateY(20px);
}

.transform3{
    transform: translateY(100px);
}

.transform4{
    transform: translateY(50px);
}

.transform5{
    transform: translateY(70px);
}

html a{
    scroll-behavior: smooth!important;
  }